@import "palette";

@mixin hx($font-rate, $font-weight, $sep-rate, $has-border) {
  font-size: 1rem*$font-rate;
  font-weight: $font-weight;
  margin: 0 0 1rem*$sep-rate 0;
  letter-spacing: 2px;

  @if $has-border {
    border-bottom: 1px double $normal-border-color;
  }

  &, & > a:link, & > a:visited {
    color: $normal-text-color;
  }
}

#content{
  h2{ @include hx(2.0, bold, 1.5, true); }
  h3{ @include hx(1.8, bold, 1.4, false); }
  h4{ @include hx(1.4, bold, 1.3, false); }
  h5{ @include hx(1.2, bold, 1.2, false); }
  h6{ @include hx(1.0, bold, 1.1, false); }
}
