$font-normal: 'PT Sans', sans-serif;
$font-monospace: 'Source Code Pro', monospace;
$font-size: 12pt;
$normal-text-color: #222;
$active-text-color: #00A;
$general-background: #EEE;
$light-background: #FBFBFB;
$content-background: #FFF;
$content-padding: 10mm;
$content-width: 210mm;
$normal-border-color: #CCC;

// deprecated:
$main-black: #0b0929;
$main-dark: #231c7c;
$main-normal: #3b30cf;
$main-light: #ebeafa;
$main-white: #fdfcfe;
$alt0-normal: #2b69ba;
$alt1-normal: #8b30cf;
$alt2-normal: #cf3b30;
$alt3-normal: #1c7c23;
$gap-mini: 5px;
$gap-small: 1em;
