.hljs-keyword{
    color: blue;
    font-weight: bold;
}
.hljs-literal{
    color: red;
}
.hljs-number{
    color: green;
}
.hljs-built_in{
    color: navy;
}
.hljs-comment{
    color: gray;
    font-style: italic;
}
.hljs-string{
    color: red;
}
.hljs-template{
    color: red;
}
