@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
  color: #222;
  background-color: #EEE;
  background-image: url("../images/draft.png");
}

/* font families */

body {
  font-family: "Cardo", serif;
}

h1, h2, h3, h4, h5, h6, table, figure, .toc{
  font-family: "Open Sans", sans-serif;
}

pre {
  font-family: "Source Code Pro", monospace;
}

/* font sizes */

body{font-size: 18px;}

h1{font-size: 40px;}
h2{font-size: 30px;}
h3{font-size: 21px;}
h4{font-size: 20px;}
h5{font-size: 19px;}
h6{font-size: 18px;}

caption, figcaption{
  font-size: 14px;
}

table{
  font-size: 14px;
}

pre{
  font-size: 14px;
}

/* margins & paddings */

body {margin:0;}

h1 {margin: 1.5em 0 0 0;}

h2{margin: 1em 0 0 0;}

h3, h4, h5, h6{margin: 1em 0 0 0;}

figure, pre {margin: 1em;}

figure > pre {margin: 0;}

caption:first-child{
  margin-bottom: 0.5em;
}

table{
  margin: 1em;
}

/* ... */

h1, h2, h3, h4, h5, h6{
  letter-spacing: 1px;
}

caption, figcaption{
  text-align: start;
  /* font-style: italic; */
}

pre + figcaption{
  margin-top: 0.5em;
}

main {
  padding: 1em;
  width: 210mm;
  background-color: #FFF;
  border-style: none solid;
  border-width: 1px;
  border-color: #DDD;
}

a:link, a:visited {
  color: navy;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  color: #00A;
  text-decoration: underline;
}

code {
  font-family: "Inconsolata", monospace;
  padding: .2em .4em;
  margin: 0;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

table, table th, table td {
  border-collapse: collapse;
  border: 1px solid #BBB;
}
table th{
  font-weight: bold;
}
table th, table td {
  padding: 4px;
}

p {
  hyphens: auto;
}

pre {
  display: block;
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #ebeafa;
  background-color: #fdfcfe;
}


nav.toc ol{
  list-style: none;
}

/* Layout */

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

body nav {
  padding: 1em;
  flex-grow: 0;
}

.toc ol {
  padding: 0;
  margin: 0;
}

.toc li > ol {
  padding-left: 1em;
}

body main {
  flex-grow: 0;
}

.toc a {
  font-weight: normal;
  font-size: 14px;
}